@-webkit-keyframes lightAnim {
    0% { left:0;opacity:0;  }
    50% { left:50%;opacity:1; }
    100% { left:100%; opacity:0;visibility: hidden; } 
}

@-moz-keyframes lightAnim {
    0% { left:0;opacity:0;  }
    50% { left:50%;opacity:1; }
    100% { left:100%; opacity:0;visibility: hidden; } 
}

@-ms-keyframes lightAnim {
    0% { left:0;opacity:0;  }
    50% { left:50%;opacity:1; }
    100% { left:100%; opacity:0;visibility: hidden; } 
}

@keyframes lightAnim {
    0% { left:0;opacity:0;  }
    50% { left:50%;opacity:1; }
    100% { left:100%; opacity:0;visibility: hidden; } 
}
.echarts{width:100% !important;height:400px !important; }

.middle *{ display:inline-block;vertical-align:middle;}
.middle option{ display:block;}

@function rem($n) {
    @return $n / 75 + rem;
}
